<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hanna Nicolas</title>

    {% load static %}

    <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/css/base.css" rel="stylesheet">

</head>

<body id="page-top">

  <header class="d-flex p-4 justify-content-between align-items-center">
    <div class="title h5">
        <h1 class="main_title mb-0">Hanna Nicolas</h1>
        <p class="text-center m-0"><i class="fa-solid fa-globe"></i> <span id="current_time">{{current_time|time:"H:i"}}</span></p>
    </div>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid d-flex align-items-center justify-content-end">
            <span class="navbar_social h5 me-3">
                <button type="button" data-toggle="modal" data-target="#social_modal" class="social_btn btn">
                    <h5 class="social_title m-0">Social media</h5>
                </button>
                <!-- Social Modal -->
                <div class="modal fade" id="social_modal" tabindex="-1" role="dialog" aria-labelledby="social_modal_title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="social_modal_long_title">Social media</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="github_info">
                                    <p class="github_title"><i class="fa-brands fa-github"></i> Github: <a href="https://github.com/hannanico"> Github.com/hannanico</a></p>
                                </div>
                                <div class="linkedin_info">
                                    <p class="linkedin_title mb-0"><i class="fa-brands fa-linkedin"></i> Linkedin: <a href="https://www.linkedin.com/in/hanna-nicolas-88466023a/"> Linkedin.com/hannanico</a></p>
                                </div>               
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
            <span class="navbar_contact h5">
                <button type="button" data-toggle="modal" data-target="#contact_modal" class="contact_btn btn">
                    <h5 class="contact_title m-0">Contact me</h5>
                </button>
                <!-- Contact Modal -->
                <div class="modal fade" id="contact_modal" tabindex="-1" role="dialog" aria-labelledby="contact_modal_title" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="contact_modal_long_title">Contact information</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="email_info">
                                    <p>Email: hannanicolasca@gmail.com</p>
                                </div>
                                <div class="phone_info">
                                    <p>Phone: +1(519)403-9508</p>
                                </div>                  
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </nav>
</header>
    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>
    <script src="{% static 'js/base.js' %}"></script>

</body>

</html>